
.contact-section {
    background: #343a40;
    padding-bottom: 5rem;
}

.contact-section h2,
.contact-section p,
.contact-section a {
    color: #fff;
}

#contact-phone,
#contact-email {
    margin-bottom: 1rem;
}

#contact-phone p,
#contact-email p {
    font-weight: bold;
}

.contact-section a:hover {
    color: #fff;
}

.contact-section button {
    width: 20%;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.contact-section button:hover {
    background-color: #fff;
    color: #343a40;
}

@media only screen and (max-width: 990px) {
    .contact-section button {
        width: 40%;
        height: 40px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-section {
        padding-bottom: 2.5rem;
    }

    .contact-section h2 {
        font-size: 1.5rem;
    }

    .contact-section button {
        width: 40%;
        height: 40px;
        font-size: 13px;
    }
}
