
.contact-section {
    background: #343a40;
}

.contact-section h2,
.contact-section p {
    color: #fff;
}

.contact-section button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1%;
    background-color: #fff;
    color: #343a40;
    border: 0;
}

.contact-section button:hover {
    background-color: #343a40;
    color: #fff;
}
