
.about-page {
    padding-top: 3rem;
}

#about {
    margin-bottom: 3%;
}

#about h1 {
    margin: 3rem;
    font-weight: bold;
    color: #12776d;
    text-transform: uppercase;
}

#about p {
    font-size: 1.2rem;
    color: #12776d;
}
