
.about-section {
    background: #343a40;
}

.about-section h2,
.about-section p {
    color: #fff;
}

.about-section button {
    width: 20%;
    height: 50px;
    font-weight: bold;
    margin: 1%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.about-section button:hover {
    background-color: #fff;
    color: #343a40;
}

@media only screen and (max-width: 990px) {
    .about-section button {
        width: 50%;
        font-size: 12px;
        height: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .about-section button {
        width: 50%;
        font-size: 12px;
        height: 30px;
    }

    .about-section h2 {
        font-size: 1.5rem;
    }
}
