
.about-section {
    background: #12776d;
}

.about-section h2 {
    text-transform: uppercase;
}

.about-section h2,
.about-section p {
    color: #fff;
}

.about-section button {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-size: 1.125rem;
    padding: 17px 30px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-section button:hover {
    background-color: rgb(250, 250, 250);
    color: #12776d;
}
