
#list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 3%;
}

#list li {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-section h3,
#review-section h4 {
    margin: 2%;
}

#review-section #customer-review {
    margin-bottom: 5rem;
    margin-top: 1.5rem;
}

#name-text,
#name,
#name-submit {
    margin: 0 1rem;
}

#name-submit {
    height: 50px;
    width: 100px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1%;
    background-color: transparent;
    border: 2px solid #343a40;
    color: #343a40;
}

#name-submit:hover {
    background-color: #343a40;
    color: #fff;
}

@media only screen and (max-width: 990px) {
    #list {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #list {
        display: block;
    }

    #customer {
        margin-top: 2rem;
        display: block;
    }

    #customer #name-submit {
        margin-top: 2rem;
    }

    #review-section #customer-review {
        width: 80%;
    }
}
