
#review-section h3 {
    font-size: 2rem;
}

#review-section .card {
    background-color: #12776d;
}

#customer-form {
    width: 50%;
}

#customer-form input:focus,
#customer-form textarea:focus {
    outline: none;
}

#name-submit:hover {
    background-color: #008376;
}

@media only screen and (max-width: 993px) {
    #customer-form {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    #review-section h3 {
        font-size: 1.5rem;
    }

    #customer-form {
        width: 100%;
    }
}
