
.head-title {
    padding: 27%;
}

.head-title h1 {
    font-size: 4rem;
    font-weight: bold;
}

.head-title p {
    font-size: 1.5rem;
}

.head-title button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1%;
    background-color: #fff;
    border: 0;
    color: #343a40;
}

.head-title button:hover {
    background-color: #343a40;
    color: #fff;
}

.head-img {
    filter: brightness(50%);
}

@media only screen and (max-width: 990px) {
    .head-title {
        padding: 15%;
    }

    .head-title h1 {
        font-size: 3rem;
    }

    .head-title p {
        display: none;
    }

    .head-title button {
        width: 40%;
        height: 25px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .head-title {
        padding: 15%;
    }

    .head-title h1 {
        font-size: 2rem;
    }

    .head-title p {
        display: none;
    }

    .head-title button {
        width: 40%;
        height: 25px;
        font-size: 10px;
    }
}
