
.head-div {
    margin-top: 3rem;
}

.head-title {
    padding: 27%;
}

.head-title h1 {
    font-size: 4rem;
    font-weight: bold;
}

.head-title p {
    font-size: 1.5rem;
}

.head-title button {
    min-width: auto;
    min-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.head-title button:hover {
    background-color: #fff;
    color: #343a40;
}

.head-img {
    filter: brightness(40%);
}

@media only screen and (max-width: 990px) {
    .head-title {
        padding: 15%;
    }

    .head-title h1 {
        font-size: 3rem;
    }

    .head-title p {
        display: none;
    }

    .head-title button {
        width: 40%;
        height: 25px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .head-title {
        padding: 15%;
    }

    .head-title h1 {
        font-size: 1.5rem;
    }

    .head-title p {
        display: none;
    }

    .head-title button {
        min-width: 40%;
        min-height: 25px;
        font-size: 0.5rem;
    }
}
