
.carousel img {
    object-fit: cover;
    filter: brightness(30%);
}

.carousel h1 {
    font-size: 4rem;
    font-weight: bold;
}

.carousel button:hover,
#buy-button:hover {
    color: #12776d;
}

@media only screen and (max-width: 1200px) {
    .carousel h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 576px) {
    .carousel h1 {
        font-size: 2rem;
    }

    .head-div .carousel-caption {
        right: 0;
        left: 0;
    }

    .head-div .carousel-control-prev,
    .head-div .carousel-control-next {
        z-index: 1000;
    }
}
