
.buy-rent h1 {
    margin: 25px;
}

.buy-rent {
    padding-bottom: 2.5rem;
}

/* .buy-rent .product-section {
    margin: 10%;
} */

.buy-rent .product-details {
    margin: 5%;
}

.buy-rent button {
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1%;
    background-color: #343a40;
    color: #fff;
    border: 0;
}

.buy-rent button:hover {
    background-color: #fff;
    color: #343a40;
}
