
.buy-rent h1 {
    margin: 3rem;
    font-weight: bold;
    color: #12776d;
    text-transform: uppercase;
}

.buy-rent {
    padding: 2.5rem 0;
}

.product-section {
    background-color: #12776d;
    padding-top: 3rem;
    margin: 2rem 0;
}

.product-section h3,
.product-section p {
    color: #fff;
}

.buy-rent .product-details {
    margin: 5%;
}

.buy-rent button {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
    margin: 1%;
    background-color: #343a40;
    color: #fff;
    border: 0;
}

.buy-rent button:hover {
    background-color: #fff;
    color: #343a40;
}

.interest-section {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.interest-section a,
.interest-section h4,
.interest-section p {
    color: #12776d;
}

@media only screen and (max-width: 600px) {
    .buy-rent h1 {
        font-size: 2rem;
    }
}
