
.properties-section button {
    width: 40%;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1%;
    background-color: #343a40;
    color: #fff;
    border: 0;
}

.properties-section button:hover {
    background-color: #fff;
    color: #343a40;
}
