
.properties-section img,
.properties-details {
    width: 50%;
}

.properties-section .rent-btn {
    background-color: #12776d;
}

@media only screen and (max-width: 992px) {
    .properties-item img,
    .properties-details {
        width: 100%;
    }
}
