
.properties-section {
    padding: 2rem;
}

.properties-item {
    padding: 2rem;
}

.properties-section button {
    min-width: 40%;
    min-height: 50px;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1%;
    background-color: transparent;
    border: 2px solid #343a40;
    color: #343a40;
}

.properties-section button:hover {
    background-color: #343a40;
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .properties-section button {
        width: 100%;
        height: 40px;
        font-size: 10px;
    }

    .properties-section h3 {
        font-size: 1.5rem;
    }

    .properties-details {
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .properties-section button {
        /* min-height: auto;
        min-width: auto; */
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        padding: auto;
    }

    .properties-section h3 {
        font-size: 1rem;
    }

    .properties-details {
        padding: 1rem;
    }
}
