
.property-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.property-details h1 {
    margin: 10%;
}

.property-details .property-description {
    margin: 10%;
}
