
#top {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-phone {
    display: flex;
    align-items: center;
}

#top-phone ion-icon {
    font-size: 1.3rem;
    color: #12776d;
}

#top-phone p {
    font-size: 1.2rem;
    color: #12776d;
    margin-top: 15px;
    margin-left: 5px;
}

#top-other ion-icon {
    margin: 0 5px;
    font-size: 1.3rem;
    color: #12776d;
}

#top-phone p:hover,
#top-phone ion-icon:hover,
#top-other ion-icon:hover {
    cursor: pointer;
    color: #bbbbbb;
}
