
#top {
    height: 3rem;
}

#top-phone ion-icon,
#top-other ion-icon {
    font-size: 1.2rem;
}

#top-phone ion-icon,
#top-other ion-icon,
#top-phone p {
    color: #12776d;
}

#top-phone p:hover,
#top-phone ion-icon:hover,
#top-other ion-icon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    #top {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    #top {
        padding-right: 15px;
        padding-left: 15px;
    }
}
