
.mortgage-section {
    padding: 3rem 0;
}

.mortgage-section h2 {
    margin-bottom: 3%;
    color: #12776d;
    text-transform: uppercase;
}

#calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator-form label {
    color: #12776d;
}

#calculator-form .calculator-input {
    width: 50%;
    border-color: #12776d;
    color: #12776d;
}

#calculator-form #calculator-submit {
    border-radius: 0%;
    background-color: #12776d;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 1.125rem;
    padding: 17px 30px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#calculator-form #calculator-submit:hover {
    background-color: #008376;
}

#calculator-result {
    display: flex;
    justify-content: center;
}

#calculator-result p {
    margin: 1%;
    color: #12776d;
}
