
.mortgage-section {
    padding: 3%;
}

.mortgage-section h2 {
    margin-bottom: 3%;
}

#calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator-form .calculator-input {
    width: 50%;
}

#calculator-form #calculator-submit {
    /* width: 20%;
    height: 50px; */
    margin: 3%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3rem;
    background-color: transparent;
    border: 2px solid #343a40;
    color: #343a40;
}

#calculator-form #calculator-submit:hover {
    background-color: #343a40;
    color: #fff;
}

#calculator-result {
    display: flex;
    justify-content: center;
}

#calculator-result p {
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    #calculator-form #calculator-submit {
        /* height: 30px; */
        font-size: 13px;
    }

    .mortgage-section h2 {
        font-size: 1.5rem;
    }
}
