
.mortgage-section h2 {
    font-size: 3rem;
}

#calculator-form {
    width: 50%;
}

#calculator-form input {
    height: 2.5rem;
}

#calculator-form input:focus {
    outline: none;
}

#calculator-form input::placeholder {
    color: #a0aec0;
}

#calculator-form #calculator-submit {
    background-color: #008376;
}

#calculator-form #calculator-submit:hover {
    background-color: #e2e6ea;
    color: #212529;
}

#calculator-result {
    background-color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
    #calculator-form {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    #calculator-form {
        width: 100%;
    }

    .mortgage-section h2 {
        font-size: 2.5rem;
    }
}
